.login-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background: var(--bg-body);
  animation: animate-cloud 20s linear infinite;
}

.login-weaper {
  margin: 0 auto;
  width: 100%;
  box-shadow: var(--shadow-card);
}

.login-left {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  justify-content: center;
  flex-direction: column;
  background-color: var(--color-primary);
  color: #fff;
  float: left;
  width: 100%;
  position: relative;
}

.login-left .title {
  margin-top: 60px;
  text-align: center;
  color: #fff;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: 25px;
}

.login-border {
  color: var(--text-primary);
  background-color: var(--bg-card);
  width: 100%;
  float: left;
  box-sizing: border-box;
  margin: 0 auto;
}

.login-main {
  margin: 0 auto;
  box-sizing: border-box;
}

.login-form {
  margin: 10px 1px;

  i {
    color: var(--text-secondary);
  }

  .el-form-item__content {
    width: 100%;
  }

  .el-form-item {
    margin-bottom: 12px;
  }

}

.login-code {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 0 0 10px;
}

.login-code-img {
  margin-top: 2px;
  width: 100px;
  height: 38px;
  background-color: var(--bg-card);
  border: 1px solid var(--border-color);
  color: var(--text-primary);
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 5px;
  line-height: 38px;
  text-indent: 5px;
  text-align: center;
}