.avue-sidebar {
    user-select: none;
    position: relative;
    padding-top: 74px;
    height: 100%;
    position: relative;
    background-color: var(--bg-sidebar);
    transition: width .2s;
    box-sizing: border-box;
    box-shadow: 2px 0 6px rgba(0, 21, 41, .35);

    &--tip {
        width: 90%;
        height: 140px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        position: absolute;
        top: 5px;
        left: 5%;
        color: var(--text-sidebar-secondary);
        z-index: 2;
        text-align: center;
        font-size: 14px;
        background-color: rgba(0, 0, 0, .4);
    }

    .el-menu-item,
    .el-submenu__title {
        font-size: 14px;
        height: 56px;
        line-height: 56px;
    }

    .el-menu-item {

        span,
        i {
            color: var(--text-sidebar-secondary);
        }

        &:hover {
            background-color: transparent;
            color: var(--text-sidebar-hover);

            span,
            i {
                color: var(--text-sidebar-hover);
            }
        }

        &.is-active {
            background-color: var(--bg-sidebar-active);

            span,
            i {
                color: var(--text-sidebar-hover);
            }

            &:hover {
                background-color: var(--bg-sidebar-active);
            }

            &::before {
                content: " ";
                top: 0;
                left: 0;
                bottom: 0;
                width: 4px;
                background: var(--color-primary);
                position: absolute
            }
        }
    }

    .el-submenu__title {

        span,
        i {
            color: var(--text-sidebar-secondary);
        }

        &:hover {

            i,
            span {
                color: var(--text-sidebar-hover);
            }

            background-color:transparent;
        }
    }

    .el-submenu .el-menu-item {
        height: 50px;
        line-height: 50px;

        span,
        i {
            color: var(--text-sidebar-secondary);
        }

        &.is-active {
            background-color: var(--bg-sidebar-active);

            span,
            i {
                color: var(--text-sidebar-hover);
            }

            &:hover {
                background-color: var(--bg-sidebar-active);
            }
        }

        &:hover {
            background-color: transparent;

            span,
            i {
                color: var(--text-sidebar-hover);
            }
        }
    }
}